
@{
    ViewBag.Title = "Crear Comentario";
}
<h2>Crear</h2>

@using (Html.BeginForm())
{
    

    <div class="form-horizontal">
        <h4>Comentario</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <label>Comentario</label>
                <input type="text" id="Comentario">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" id="guardar" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Volver", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>$(document).ready(function () {
                let api_url = 'http://localhost:62040/';

                $("#guardar").click(function () {

                    var json =
                    {
                        Comentario: $("#Comentario").val()
                    };

                    $.ajax({
                        url: `${api_url}api/Comentario`,
                        type: 'POST',
                        data: json
                    });
                });

            });</script>
}
