@model Int32
@{
    ViewBag.Title = "Eliminar Comentario";
}
<h2>Eliminar Comentario</h2>
<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            IdComentario
        </dt>
        <dd>
            <label id="IdComentario"></label>
        </dd>
        <dt>
            Comentario
        </dt>
        <dd>
            <label id="Comentario"></label>
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" id="delete" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
@section scripts
{
    <script>
            $(document).ready(function () {
                let api_url = 'http://localhost:62040/';
                var id = @Html.Raw(Json.Encode(Model));
                $("#delete").click(function () {
                    $.ajax({
                        url: `${api_url}api/Comentario/${id}`,
                        type: 'DELETE'
                    });
                });


                $.get(`${api_url}api/Comentario/${id}`, function (data) {
                    var tmpData = JSON.parse(data);
                    $("#IdComentario").text(tmpData.IdComentario);
                    $("#Comentario").text(tmpData.Comentario);

                })
            });


    </script>
}