@model Int32

@{
    ViewBag.Title = "Eliminar Permiso";
}

<h2>Eliminar Permiso</h2>
<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            IdPermiso
        </dt>

        <dd>
            <label id="IdPermiso"></label>
        </dd>

        <dt>
            Nombre
        </dt>
        <dd>
            <label id="Nombre"></label>
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" id="delete" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
@section scripts
{
    <script>
            $(document).ready(function () {
                let api_url = 'http://localhost:62040/';
                var id = @Html.Raw(Json.Encode(Model));
                $("#delete").click(function () {
                    $.ajax({
                        url: `${api_url}api/Permiso/${id}`,
                        type: 'DELETE'
                    });
                });


        $.get(`${api_url}api/Permiso/${id}`, function (data) {
                    var tmpData = JSON.parse(data);
                    $("#IdPermiso").text(tmpData.IdPermiso);
                    $("#Nombre").text(tmpData.Nombre);

                })
            });


    </script>
}