@model Int32

@{
    ViewBag.Title = "Detalle Permiso";
}

<h2>Detalle</h2>

<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            IdPermiso
        </dt>

        <dd>
            <label id="IdPermiso"></label>
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            <label id="Nombre"></label>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model }) |
    @Html.ActionLink("Volver", "Index")
</p>
@section scripts
{
    <script>
        $(document).ready(function () {
            let api_url = 'http://localhost:62040/';
            var id = @Html.Raw(Json.Encode(Model));
            $.get(`${api_url}api/Permiso/${id}`, function (data) {
                var tmpData = JSON.parse(data);
                $("#IdPermiso").text(tmpData.IdPermiso);
                $("#Nombre").text(tmpData.Nombre);

            })
        });


    </script>
}